.page-header {
    background-color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-navigation {
    display: flex;
    justify-content: flex-end;
    gap: 30px
}

.page-header .nav-list {
    display: flex;

    gap: 10px 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-header .nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.page-header .nav-list a.active {
    text-decoration: underline;
}

.page-header .nav-list a:hover {
    text-decoration: underline;
}